<h1>New Task</h1>

<%= bootstrap_form_with model: @task, method: :post, url: create_task_path(@category), local: true do |f| %>

  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.text_field :estimated_work %>
  <%= f.text_field :due_date %>
  <%= f.submit %>

<% end %>

<p class="mt-3">
  <%= link_to 'Cancel', show_category_path(@category), class: 'btn btn-primary' %>
</p>

