<h2 style="float:right"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary' %> </h1>

<main class="content">
    <div class="container p-0">

        <h1 class="h3 mb-3">Project Boards</h1>
            
            
            <div class="card card-border-primary">
                <div class="card-header">
        
                    <h6 class="card-subtitle text-muted">Project Name</h5>
                    <h5 class="card-title"><%= @project.name %></h6>
                </div>
                
                <div class="card-body p-3">

                    <%@project.boards.each do |board|%>
                        <div class="card mb-3 bg-light">
                            <div class="card-body p-3">
                                <h6><%= board.name%></h6>

                                <ul>
                                    <%board.categories.each do |category|%>
                                        <li><%= category.name %> </li>
                                    <%end%>
                                </ul>
                                
                                <div>
                                    <%= link_to 'Show', board_path(@project, board), class: "btn btn-outline-primary btn-sm" %> |
                                    <%= link_to 'Edit', edit_board_path(@project, board), class: "btn btn-outline-primary btn-sm" %> |
                                    <%= link_to 'Delete', delete_board_path(@project, board), method: :delete, class: "btn btn-outline-primary btn-sm" %>
                                </div>  
                            </div>
                        </div>
                    <%end%>       
                    
                    <div><%= link_to 'Add new board', new_board_path(@project), class: "btn btn-primary btn-block" %></div>
                </div>
            </div>
    </div>
</main>

<div>
<%if current_user == @project.user || current_user.is_admin == true || @project.can_assign_users.include?(current_user) == true || @project.can_remove_users.include?(current_user) == true%>
  <h5><strong> Users Assigned to <%= @project.name%></strong></h5>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>
                        <%if @project.can_assign_users.include?(current_user) == true || current_user == @project.user || current_user.is_admin == true %>
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Add Users
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <% @users.each do |user|%>
                                        <li><%= user.name %> </li>
                                        <li> <%= link_to 'Select', add_user_project_path(user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                        <hr class="rounded">
                                    <%end%>
                                </ul>
                            </div>
                        <%end%>
                    </th>

                    <% if current_user == @project.user || current_user.is_admin == true %>
                        <th> 
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Transfer Manager Position
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                Current Manager: <%= @project.user.name%>
                                      <hr> 
                                    <% @users.each do |user|%>
                                        <%if user != @project.user %>
                                            <li><%= user.name %> </li>
                                            <li> <%= link_to 'Select', transfer_manager_path(user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                            <hr class="rounded">
                                        <%end%>
                                    <%end%>
                                </ul>
                            </div>
                        </th>
                    <%end%>

                </tr>
            </thead>          
            <tbody>
                <%@project.assigned_users.each do |assigned_user|%>
                    <tr>
                        <td><%= assigned_user.name %></td>
                        <td><%= assigned_user.email %></td>
                        <%if @project.can_remove_users.include?(current_user) == true || current_user == @project.user || current_user.is_admin == true %>
                            <td><%= link_to 'Remove User', remove_user_project_path(assigned_user, id: @project.id, user_id: assigned_user.id), method: :post, class: "btn btn-outline-primary btn-sm"%></td>
                        <%end%>
                    </tr>
                <%end%>
            </tbody>
<%end%>
        <tfoot><!-- this footnote is used to manage assigning permissions for the project -->
            <% if @project.user == current_user || current_user.is_admin == true %>
            <tr>
                <td>PERMISSIONS:</td>
            </tr>
            <tr>
                <td>can edit project</td>
                <td>
                    <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to add user to can edit
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @users.each do |user|%> 
                                        <%if @project.assigned_users.include?(user) == true %>
                                            <li><%= user.name %> </li>
                                            <li> <%= link_to 'Select', add_user_can_edit_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                                <hr class="rounded">
                                        <%end%>
                                    <%end%>
                                    </ul>
                            </div>
                </td>

                <td>
                    <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to remove user from can edit
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @project.can_edit_users.each do |user|%>
                                        <li><%= user.name %> </li>
                                        <li> <%= link_to 'Select', remove_user_can_edit_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                            <hr class="rounded">
                                    <%end%>
                                    </ul>
                            </div>
                </td>
            </tr>
            <tr>
                <td>can delete project</td>
                <td>
                 <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to add user to can delete
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @users.each do |user|%>
                                         <%if @project.assigned_users.include?(user) == true %>
                                            <li><%= user.name %> </li>
                                            <li> <%= link_to 'Select', add_user_can_delete_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                                <hr class="rounded">
                                        <%end%>
                                    <%end%>
                                    </ul>
                            </div>
                
                </td>
                <td>
                    <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to remove user from can delete
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @project.can_delete_users.each do |user|%>
                                        <li><%= user.name %> </li>
                                        <li> <%= link_to 'Select', remove_user_can_delete_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                            <hr class="rounded">
                                    <%end%>
                                    </ul>
                            </div>
                </td>
            </tr>
            <tr>
                <td>can assign users to project</td>
                <td>
                    <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to add user to can assign users
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @users.each do |user|%>
                                        <%if @project.assigned_users.include?(user) == true %>
                                            <li><%= user.name %> </li>
                                            <li> <%= link_to 'Select', add_user_can_assign_users_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                                <hr class="rounded">
                                        <%end%>
                                    <%end%>
                                    </ul>
                            </div>
                </td>
                <td>
                    <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to remove user from can assign users
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @project.can_assign_users.each do |user|%>
                                        <li><%= user.name %> </li>
                                        <li> <%= link_to 'Select', remove_user_can_assign_users_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                            <hr class="rounded">
                                    <%end%>
                                    </ul>
                            </div>
                </td>
            </tr>
            <tr>
                <td>can delete users from project</td>
                <td>
                     <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to add user to can remove users
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @users.each do |user|%>
                                         <%if @project.assigned_users.include?(user) == true %>
                                            <li><%= user.name %> </li>
                                            <li> <%= link_to 'Select', add_user_can_remove_users_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                                <hr class="rounded">
                                            <%end%>
                                    <%end%>
                                    </ul>
                            </div>
                </td>
                <td>
                     <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">dropdown to remove user from can remove users
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <% @project.can_remove_users.each do |user|%>
                                        <li><%= user.name %> </li>
                                        <li> <%= link_to 'Select', remove_user_can_remove_users_project_path(@project, user, id: @project.id, user_id: user.id), method: :post, class: "btn btn-outline-primary btn-sm"%> </li>
                                            <hr class="rounded">
                                    <%end%>
                                    </ul>
                        </div>
                </td>
            </tr>
            <% end %>
        </tfoot>
    </table>
</div>


<p class="mt-3">
  <%= link_to 'Back to Dashboard', projects_path(@project), class: 'btn btn-outline-primary' %>
</p>

